@import "tailwindcss";

@theme {
  --font-heading: 'Lilita One', cursive;
  --font-body: 'Nunito', sans-serif;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
